<footer class="site-footer">
      <div class="container">
        
        <div class="row">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">About</h3>
            <p>We are a company that aims at providing full time and part time jobs for renown companies.</p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'homepage' %}">Homepage</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    </li>
                  </ul>
              </div>
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Categories</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Part Time</a></li>
                  </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
              <div class="col-md-12">
                <p>
                  <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                  <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-instagram"></span></a>
                  <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-vimeo"></span></a>

                </p>
              </div>
          </div>
        </div>
      </div>
    </footer>