{% load static %}
<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
<div class="site-navbar-wrap js-site-navbar bg-white">
    
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo"><a href="{% url 'homepage' %}">Job<strong class="font-weight-bold">Search</strong> </a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li><a href="{% url 'homepage' %}">Home</a></li>
                      <li><a href="{% url 'contact'%}">Contact</a></li>
                      {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser == False %}
                        <li><a href="{% url 'profile' %}" ><span class="bg-primary text-white py-3 px-4 rounded"><span class="icon-user mr-3"></span>{{request.user.username}}</span></a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}" ><span class="bg-primary text-white py-3 px-4 rounded">logout</span></a></li>
                      {% else %}
                      <li><a data-toggle="modal" data-target="#exampleModal"><span class="bg-primary text-white py-3 px-4 rounded"><span class="icon-plus mr-3"></span>create account</span></a></li>
                      {% endif %}
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>